* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 180px;
  text-align: center;
}

.main {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: rgb(250, 151, 70);
}

.individual {
  color: rgb(44, 167, 224);
}

.text {
  text-align: center;
  font-size: 25px;
  color: rgb(0, 162, 255);
  line-height: 47px;
}

.container .redbox {
  margin: 0 auto;
  padding: 0;
  margin-top: 150px;
  width: 250px;
  height: 120px;
  background-color: red;
}
